@mixin border($colour) {
    border: 1px solid $colour;
}
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
}
@mixin width-height($w:100%, $h:100%) {
    width: $w;
    height: $h;
}