@import 'colour-types.scss';


@mixin border($colour) {
    border: 1px solid $colour;
}
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
}
@mixin width-height($w:100%, $h:100%) {
    width: $w;
    height: $h;
}
@mixin displays(){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    overflow: hidden;
    background-color: $colour-type-5;
}