@import 'colour-types.scss';
@import 'mixin.scss';


.body{
    background-color: $colour-type-2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}


// Main box
.main-box{
    @include width-height(350px, 513px);
    //@include border($colour-type-1);
    border-radius: 30px;
}


// Display box
.box-top{
    @include width-height(100%, 150px);
    @include border($colour-type-1);
    @include displays();
    border-radius: 30px 30px 10px 10px;
}
#main-display{
    @include width-height(100%, 100px);
    @include border($colour-type-5);
    @extend .box-top;
    border-radius: 0;
    align-items: flex-end;
    font-size: 50px;
    font-weight: 900;
    padding: 0;
}
#second-display{
    @extend #main-display;
    height: 50px;
    font-size: 30px;
}


// Number box
.box-bottom{
    @include width-height(100%, 350px);
    //@include border($colour-type-1);
    margin-top: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.lear{
    @include width-height(100%, 65px);
    //@include border($colour-type-1);
    //background-color: $colour-type-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;

    button{
        @include width-height(100%, 100%);
        @include border($colour-type-1);
        border-radius: 30px;
        font-size: 30px;
    }
}


@media (max-width: 425px) {
    .body {
        margin-top: 2.5vh;
    }
}